@inherits System.Web.Mvc.WebViewPage<APP.Web.eCommerce.Website.Models.HomeViewModel>
@using APP.Web.eCommerce.Website.Mvc;
@using System.Web.Mvc.Html;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START MAIN BANNER -->
<div class="main">
    <!-- BIG BANNER SLIDE -->
    <ul id="mainBxSlider" class="mainBxSlider">
        <li>
            <a class="" href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_1.jpg");">
            </a>
        </li>
        <li>
            <a class="" href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_2.jpg");">
            </a>
        </li>
        <li>
            <a class="" href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_3.jpg");">
            </a>
        </li>
        <li>
            <a class="" href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_4.jpg");">
            </a>
        </li>
        <li>
            <a class="" href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_5.jpg");">
            </a>
        </li>
        <li>
            <a class="" href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_6.jpg");">
            </a>
        </li>
    </ul>
    <!-- SMALL BANNER -->
    <div class="mainBxSliderPager clearfix">
        <a data-slide-index="0" href="#"><span><img src="@Url.PartnerDesignContent("images/icon/banner_thumb_current.png");" alt="" /></span><img src="@Url.PartnerDesignContent("images/banner/banner_small_1.jpg");" alt="" /></a>
        <a data-slide-index="1" href="#"><span><img src="@Url.PartnerDesignContent("images/icon/banner_thumb_current.png");" alt="" /></span><img src="@Url.PartnerDesignContent("images/banner/banner_small_2.jpg");" alt="" /></a>
        <a data-slide-index="2" href="#"><span><img src="@Url.PartnerDesignContent("images/icon/banner_thumb_current.png");" alt="" /></span><img src="@Url.PartnerDesignContent("images/banner/banner_small_3.jpg");" alt="" /></a>
        <a data-slide-index="3" href="#"><span><img src="@Url.PartnerDesignContent("images/icon/banner_thumb_current.png");" alt="" /></span><img src="@Url.PartnerDesignContent("images/banner/banner_small_4.jpg");" alt="" /></a>
        <a data-slide-index="4" href="#"><span><img src="@Url.PartnerDesignContent("images/icon/banner_thumb_current.png");" alt="" /></span><img src="@Url.PartnerDesignContent("images/banner/banner_small_5.jpg");" alt="" /></a>
        <a data-slide-index="5" href="#"><span><img src="@Url.PartnerDesignContent("images/icon/banner_thumb_current.png");" alt="" /></span><img src="@Url.PartnerDesignContent("images/banner/banner_small_6.jpg");" alt="" /></a>
    </div>
</div>
<!-- END MAIN BANNER -->
<!-- START BOX BANNER -->
<div class="title" id="kids_and_baby">
    <img alt="" src="@Url.PartnerDesignContent("images/icon/title_8.png");">
</div>
<div class="column c3">
    <div class="inner">
        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_promo_1.png");">
        <ul class="product">
            <li class="prod_1">
                <a href="#">001</a>
            </li>
            <li class="prod_2">
                <a href="#">002</a>
            </li>
            <li class="prod_3">
                <a href="#">003</a>
            </li>
        </ul>
    </div>
    <div class="inner">
        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_promo_2.png");">
        <ul class="product">
            <li class="prod_1">
                <a href="#">001</a>
            </li>
            <li class="prod_2">
                <a href="#">002</a>
            </li>
            <li class="prod_3">
                <a href="#">003</a>
            </li>
        </ul>
    </div>
    <div class="inner">
        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_promo_3.png");">
        <ul class="product">
            <li class="prod_1">
                <a href="#">001</a>
            </li>
            <li class="prod_2">
                <a href="#">002</a>
            </li>
            <li class="prod_3">
                <a href="#">003</a>
            </li>
        </ul>
    </div>
    <div class="inner">
        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_promo_4.png");">
        <ul class="product">
            <li class="prod_1">
                <a href="#">001</a>
            </li>
            <li class="prod_2">
                <a href="#">002</a>
            </li>
            <li class="prod_3">
                <a href="#">003</a>
            </li>
        </ul>
    </div>
</div>
<!-- END BOX BANNER -->
<!-- START SPECIAL BANNER SLIDE -->
<div class="title" id="special" style="margin-top: 20px;">
    <img alt="" src="@Url.PartnerDesignContent("images/icon/title_5.png");">
</div>
<!-- SPECIAL BANNER SLIDE -->
<div class="column c3 special" style="margin-bottom: 20px;">
    <ul class="specialBxSlider slider" data-auto="true" data-controls="true" data-easing="easeOutCubic" data-max-slides="4" data-min-slides="1" data-move-slides="1" data-name="special" data-pager="true" data-pause="3000" data-slide-margin="15" data-slide-width="310">
        <li>
            <div class="inner">
                <a class="" href="#">
                    <span class="slide_image">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_special_1.jpg");">
                    </span>
                </a>
            </div>
        </li>
        <li>
            <div class="inner">
                <a class="" href="#">
                    <span class="slide_image">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_special_2.jpg");">
                    </span>
                </a>
            </div>
        </li>
        <li>
            <div class="inner">
                <a class="" href="#">
                    <span class="slide_image">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_special_3.jpg");">
                    </span>
                </a>
            </div>
        </li>
        <li>
            <div class="inner">
                <a class="" href="#">
                    <span class="slide_image">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_special_4.jpg");">
                    </span>
                </a>
            </div>
        </li>
        <li>
            <div class="inner">
                <a class="" href="#">
                    <span class="slide_image">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_special_5.jpg");">
                    </span>
                </a>
            </div>
        </li>
        <li>
            <div class="inner">
                <a class="" href="#">
                    <span class="slide_image">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_special_6.jpg");">
                    </span>
                </a>
            </div>
        </li>
    </ul>
</div>
<!-- END SPECIAL BANNER SLIDE -->
<!-- START 6 PRODUCT BOX BANNER -->
<div class="title">
    <img alt="" src="@Url.PartnerDesignContent("images/icon/title_1.png");">
</div>
<!-- 6 PRODUCT BOX BANNER -->
<div class="column c5">
    <div class="inner r2">
        <div>
            <a class="" href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_box_1.jpg");">
            </a>
            <ul class="product">
                <li class="prod_1">
                    <a class="" href="#">001</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="fadeBxSlider slider" data-auto="true" data-controls="false" data-easing="easeOutCubic" data-mode="fade" data-name="fadewool" data-pager="false" data-pause="5000">
                <li>
                    <a class="" href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_box_3.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a class="" href="#">001</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="" href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_box_4.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a class="" href="#">001</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner r2">
        <div>
            <ul class="fadeBxSlider slider" data-auto="true" data-controls="false" data-easing="easeOutCubic" data-mode="fade" data-name="fadewool" data-pager="false" data-pause="5000">
                <li>
                    <a class="" href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_box_6.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a class="" href="#">001</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="" href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_box_7.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a class="" href="#">001</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <a class="" href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_box_2.jpg");">
            </a>
            <ul class="product">
                <li class="prod_1">
                    <a class="" href="#">001</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner r2 boxlast">
        <div>
            <a class="#" href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_box_5.jpg");">
            </a>
            <ul class="product">
                <li class="prod_1">
                    <a class="" href="#">001</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="fadeBxSlider slider" data-auto="true" data-controls="false" data-easing="easeOutCubic" data-mode="fade" data-name="fadewool" data-pager="false" data-pause="5000">
                <li>
                    <a class="" href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_box_8.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a class="" href="#">001</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="" href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_box_9.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a class="" href="#">001</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END 6 PRODUCT BOX BANNER -->
<!-- START 4 PRODUCT BANNER -->
<div class="title">
    <img alt="" src="@Url.PartnerDesignContent("images/icon/title_2.png");">
</div>
<!-- 4 PRODUCT BANNER -->
<div class="column c2 type1">
    <div class="inner c4 single">
        <div>
            <a href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_wide_1.jpg");">
            </a>
            <ul class="product">
                <li class="prod_1">
                    <a href="#">001</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner single">
        <div>
            <a href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_1.jpg");">
            </a>
            <ul class="product">
                <li class="prod_2">
                    <a href="#">001</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner c4 single">
        <div>
            <a href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_wide_2.jpg");">
            </a>
            <ul class="product">
                <li class="prod_3">
                    <a href="#">001</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner single">
        <div>
            <a href="#">
                <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_2.jpg");">
            </a>
            <ul class="product">
                <li class="prod_4">
                    <a href="#">001</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END 4 PRODUCT BANNER -->
<!-- START 4 PRODUCT BANNER SLIDE -->
<div class="title">
    <img alt="" src="@Url.PartnerDesignContent("images/icon/title_3.png");">
</div>
<!-- 4 PRODUCT BANNER SLIDE -->
<div class="column c2 type1">
    <div class="inner c4 single">
        <div>
            <ul class="fadeBxSlider slider" data-auto="true" data-controls="false" data-easing="easeOutCubic" data-mode="fade" data-name="fadewool" data-pager="false" data-pause="5000">
                <li>
                    <a href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_wide_3.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a href="#">001</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_wide_4.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_2">
                            <a href="#">002</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner single">
        <div>
            <ul class="fadeBxSlider slider" data-auto="true" data-controls="false" data-easing="easeOutCubic" data-mode="fade" data-name="fadewool" data-pager="false" data-pause="5000">
                <li>
                    <a href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_3.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a href="#">001</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_4.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_2">
                            <a href="#">001</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner c4 single">
        <div>
            <ul class="fadeBxSlider slider" data-auto="true" data-controls="false" data-easing="easeOutCubic" data-mode="fade" data-name="fadewool" data-pager="false" data-pause="5000">
                <li>
                    <a href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_wide_6.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a href="#">001</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_wide_5.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_2">
                            <a href="#">001</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner single">
        <div>
            <ul class="fadeBxSlider slider" data-auto="true" data-controls="false" data-easing="easeOutCubic" data-mode="fade" data-name="fadewool" data-pager="false" data-pause="5000">
                <li>
                    <a href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_2.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_1">
                            <a href="#">001</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="@Url.PartnerDesignContent("images/banner/banner_slide_1.jpg");">
                    </a>
                    <ul class="product">
                        <li class="prod_2">
                            <a href="#">001</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END 4 PRODUCT BANNER SLIDE -->
<!-- START BLOG SLIDE -->
<div class="title" id="ut_collection">
    <img alt="" src="@Url.PartnerDesignContent("images/icon/title_7.png");">
</div>
<!-- BLOG= SLIDE -->
<div class="column c3 ut one_row">
    <!-- SIDE BLOG SLIDE -->
    <div class="inner" style="float: left; width: 236px; margin-left: 0px; margin-right: 16px;">
        <ul>
            <li>
                <div class="inner r2" style="margin-bottom: 16px;">
                    <a class="track_click ga_cat-id_pc_L1 ga_act-UT_01_w" href="#">
                        <span class="slide_image">
                            <img alt="" src="@Url.PartnerDesignContent("images/product/20160913_1401_gl1295.jpg");">
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!-- MAIN BLOG SLIDE -->
    <ul class="specialBxSlider slider" data-auto="true" data-controls="true" data-easing="easeOutCubic" data-max-slides="3" data-min-slides="1" data-move-slides="1" data-name="ut_collection" data-pager="true" data-pause="3000" data-slide-margin="12" data-slide-width="228">
        <li>
            <div class="inner r2">
                <span class="slide_image">
                    <img alt="" src="@Url.PartnerDesignContent("images/product/20170213_0946_gl5275.jpg");">
                </span>
                <ul class="gender">
                    <li class="men">
                        <a class="" href="#">001</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="inner r2">
                <span class="slide_image">
                    <img alt="" src="@Url.PartnerDesignContent("images/product/20170317_0049_gl5636.jpg");">
                </span>
                <ul class="gender">
                    <li class="men">
                        <a class="" href="#">001</a>
                    </li>
                    <li class="kids">
                        <a class="" href="#">002</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="inner r2">
                <span class="slide_image">
                    <img alt="" src="@Url.PartnerDesignContent("images/product/20170213_0934_gl6380.jpg");">
                </span>
                <ul class="gender">
                    <li class="women">
                        <a class="" href="#">001</a>
                    </li>
                    <li class="men">
                        <a class="" href="#">002</a>
                    </li>
                    <li class="kids">
                        <a class="" href="#">003</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="inner r2">
                <span class="slide_image">
                    <img alt="" src="@Url.PartnerDesignContent("images/product/20170209_2123_gl8801.jpg");">
                </span>
                <ul class="gender">
                    <li class="women">
                        <a class="" href="#">001</a>
                    </li>
                    <li class="men">
                        <a class="" href="#">002</a>
                    </li>
                    <li class="boys">
                        <a class="" href="#">003</a>
                    </li>
                    <li class="girls">
                        <a class="" href="#">004</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!-- END BLOG SLIDE -->
<!-- START INFORMATION BOX -->
<div class="title" id="infomation">
    <img alt="INFORMATION" src="@Url.PartnerDesignContent("images/icon/tit_information.png");">
</div>
<!-- INFORMATION BOX -->
<div class="column c5">
    <div class="inner r2">
        <div style="height:180px;">
            <img alt="" src="@Url.PartnerDesignContent("images/info/top_infomation_snsArea.png");" usemap="#infomation_sns">
            <map name="infomation_sns">
                <area class="track_click ga_cat-id_pc_L1 ga_act-Information_twitter" shape="rect" coords="236,76,300,140" alt="twitter" href="#" target="_blank">
                <area class="track_click ga_cat-id_pc_L1 ga_act-Information_facebook" shape="rect" coords="11,75,77,142" alt="facebook" href="#" target="_blank">
                <area class="track_click ga_cat-id_pc_L1 ga_act-Information_line" shape="rect" coords="87,75,154,142" alt="line" href="#" target="_blank">
                <area class="track_click ga_cat-id_pc_L1 ga_act-Information_instagram" shape="rect" coords="163,76,227,140" alt="instagram" href="#" target="_blank">
            </map>
        </div>
        <div style="height:180px;">
            <a class="track_click" href="#"><img alt="" src="@Url.PartnerDesignContent("images/info/top_infomation_store.png");"></a>
        </div>
    </div>

    <div class="inner r2">
        <div style="height:180px;">
            <a class="" href="#"><img alt="" src="@Url.PartnerDesignContent("images/info/top_infomation_mail.png");"></a>
        </div>
        <div style="height:180px;">
            <a class="" href="#"><img alt="" src="@Url.PartnerDesignContent("images/info/top_infomation_csr.png");g"></a>
        </div>
    </div>

    <div class="inner r2 kidslast">
        <div style="height:180px;">
            <img alt="information_other" src="@Url.PartnerDesignContent("images/info/top_infomation_other.png");" usemap="#infomation_other">
            <map name="infomation_other">
                <area class="track_click" shape="rect" coords="25,25,258,41" alt="corporation" href="#">
                <area class="track_click" shape="rect" coords="25,62,225,80" alt="pressrelease" href="#">
                <area class="track_click" shape="rect" coords="25,101,91,116" alt="career" href="#">
                <area class="track_click" shape="rect" coords="25,140,219,156" alt="group" href="#">
            </map>
        </div>
        <div style="height:180px;">
            <a class="track_click" href="#"><img alt="" src="@Url.PartnerDesignContent("images/info/download-uniqlo-app.png");"></a>
        </div>
    </div>
</div>
<!-- END INFORMATION BOX -->
</body>
</html>